NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=q/53+zmPZ+Klj7/FdZXshfMlZEMtvY8q8+TeLNB1+hQ2Lh+SYEYTJOqn2JhjUC3d
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_APP_URL=http://localhost:3000
