PORT=8080
ENV=development

DATABASE_URL=postgresql://postgres:[password]@db.[project].supabase.co:5432/postgres

GROQ_API_KEY=your_groq_api_key

APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=your_appwrite_project_id
APPWRITE_API_KEY=your_appwrite_api_key
APPWRITE_BUCKET_ID=your_appwrite_bucket_id

FRONTEND_URL=http://localhost:3000

JWT_SECRET=your jwt secret
NEXTAUTH_SECRET=your nextauth secret
